---
- name: Gather the package facts
  ansible.builtin.package_facts:
    manager: auto

- name: Fail if tailscale package is not installed
  ansible.builtin.fail:
    msg: "tailscale package is not installed"
  when: "'tailscale' not in ansible_facts.packages"

- name: Fail if tailscaled service is not enabled
  ansible.builtin.systemd_service:
    name: tailscaled
  register: service_status
  failed_when: service_status.status.UnitFileState == "disabled"
  when: tailscale_service_manage | bool
